.archive-pages-table {
}
.archive-pages-div {
	padding: 10px;
}

.archive-pages-table th {
	background: #ccc;
	border: 1px black solid;
}
.archive-pages-table td {
	border: 1px black solid;
}
